.idea
venv
.venv
.ipynb_checkpoints
.env
**/__pycache__/
*.pyc
*.log
.DS_store
.vscode
config/config.json
**-private.py
**-private.sh
# Ignore all modules
strategies/*
# But keep example modules
!strategies/base/
!strategies/vnps/
!strategies/examples/
